<%= form_with(model: current_project, local: true) do |form| %>
  <% if current_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_project.errors.count, "error") %> prohibited this current_project from being saved:</h2>

      <ul>
      <% current_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :current_project_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :current_project_body %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :current_project_date %>
  </div>

  <div class="field">
    <%= form.check_box :Done, id: :current_project_Done, checked: false %>
    <%= form.label :Done %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
