<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @current_project.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @current_project.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @current_project.date %>
</p>

<p>
  <strong>Done:</strong>
  <%= @current_project.Done %>
</p>

<%= link_to 'Edit', edit_current_project_path(@current_project) %> |
<%= link_to 'Back', current_projects_path %>
